@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Hammersmith+One&family=Kanit&family=Lobster+Two:wght@400;700&family=Montserrat:wght@700&family=Open+Sans:wght@600&family=Poppins:wght@400;500;600&family=Public+Sans:wght@300;400&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}


.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ddd;
  cursor: nwse-resize; /* Use the appropriate cursor style for diagonal resizing */
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease-in-out;
}

.resize-handle.hide {
  opacity: 0;
}

.resize-handle.show {
  opacity: 1;
}
